// bower:scss
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
#chat{
  > div{
    .md-toolbar-tools{
      span:nth-child(2){
        margin-left: .25em;
      }
    }
  }
}
