<div ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="50" flex ng-repeat="user in ::main.userList">
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Chat de</span>
        <span ng-bind="::user.name">???</span>
      </div>
    </md-toolbar>
    <md-content ng-repeat="contact in ::user.contactList">
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="message in contact.messageList" ng-click="null">
          <img ng-src="{{::(message.me ? user.face : contact.face)}}" class="md-avatar" alt="{{::(message.me ? 'Moi' : contact.name)}}" />
          <div class="md-list-item-text" layout="column">
            <h3 ng-bind="::(message.me ? 'Moi' : contact.name)">...</h3>
            <p ng-bind="::message.text">...</p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <form name="user.form" ng-submit="::user.submit( contact )">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nouveau message</label>
            <input md-maxlength="30" required name="newText" ng-model="user.newText" />
            <div class="hint" ng-if="user.form.newText.$untouched">Avez-vous un message à transmettre à <span ng-bind="::contact.name"></span> ?</div>
            <div ng-messages="user.form.newText.$error">
              <div ng-message="required">La saisie d'un message est obligatoire.</div>
              <div ng-message="md-maxlength">Votre message ne doit pas dépasser 30 caractères.</div>
            </div>
          </md-input-container>
          <md-button type="submit">Envoyer</md-button>
        </form>
      </md-list>
    </md-content>
  </div>
</div>
